* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #fff;
}

.project-header {
  width: 100%;
  padding: 22px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(5, 5, 5, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(212, 175, 55, 0.2);
}

.project-header h2 {
  color: #d4af37;
}

.back-link {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.back-link:hover {
  color: #d4af37;
}

.project-hero {
  max-width: 900px;
  margin: auto;
  padding: 180px 20px 100px;
  text-align: center;
}

.project-hero span {
  color: #d4af37;
  font-weight: bold;
  letter-spacing: 1px;
}

.project-hero h1 {
  font-size: 52px;
  margin: 20px 0;
}

.project-hero p {
  color: #bdbdbd;
  line-height: 1.7;
  font-size: 18px;
}

.project-buttons {
  margin-top: 35px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  margin: 10px;
  text-decoration: none;
  color: #111;
  background: linear-gradient(135deg, #d4af37, #f7e7a0);
  border-radius: 999px;
  font-weight: bold;
  transition: .3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn-outline {
  background: transparent;
  color: #d4af37;
  border: 2px solid #d4af37;
}

.project-image {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.project-image {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.project-image img {
  width: 100%;
  max-width: 750px;
  max-height: 450px;
  object-fit: cover;

  border-radius: 20px;
  border: 1px solid rgba(212, 175, 55, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.features {
  max-width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
  padding: 20px;
}

.feature-card {
  background: #101010;
  border: 1px solid rgba(212,175,55,.15);
  border-radius: 20px;
  padding: 25px;
  transition: .3s;
}

.feature-card:hover {
  transform: translateY(-6px);
  border-color: #d4af37;
}

.feature-card h3 {
  color: #d4af37;
  margin-bottom: 15px;
}

.feature-card p {
  color: #cfcfcf;
  line-height: 1.6;
}

@media (max-width: 768px) {

  .project-header {
    padding: 18px;
  }

  .project-hero h1 {
    font-size: 38px;
  }

  .project-hero p {
    font-size: 16px;
  }

}